<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>关于我们</title>
	<!-- 重置样式表 -->
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<!-- 此处引用本页面样式表-->
	<!-- <link rel="stylesheet" type="text/css" href=""> -->
	<!-- 共用组件样式表 -->
	<link rel="stylesheet" type="text/css" href="css/htmlfooter.css">
	<link rel="stylesheet" type="text/css" href="css/htmlhead.css">
	<link rel="stylesheet" type="text/css" href="css/backTopBtn.css">
	<!-- 引入cookie工具函数和vue全家桶 -->
	<script type="text/javascript" src="js/cookieUtil.js"></script>
	<script type="text/javascript" src='js/vue.js'></script>
	<script type="text/javascript" src='js/vuex.js'></script>
	<script type="text/javascript" src='js/vue-resource.js'></script>
	<!-- 本页面组件 -->
	<!-- <script type="text/javascript" src=""></script> -->
	<!-- 共用全局组件 -->
	<script type="text/javascript" src="components/public/htmlfooter.js"></script>
	<script type="text/javascript" src="components/public/htmlhead.js"></script>
	<script type="text/javascript" src="components/public/backTopBtn.js"></script>
</head>
<body>
	<div id="app">
		<htmlhead curhtml="4"></htmlhead>
		<htmlfooter></htmlfooter>
		<backtop></backtop>
	</div>
</body>

	<!-- head组件模板 -->
	<template id="htm_head">
		<div class="html_head">
			<div class="head_content">
				<a href="#"><img :src="logoUrl" alt="Logo"></a>
				<ul class="head_mainMenu">
					<li v-for="(title,index) in mainMenu" :class="{active:index==curMainMenu}" @click="curMainMenu=index">
						<a v-text="title" href="#"></a>
						<span></span>
					</li>
				</ul>
				<div>
					<input type="text" name="" placeholder="请输入搜索内容">
					<strong @mouseover="loginInShow=!loginInShow" @mouseout="loginInShow=!loginInShow">
						<a href="loginIn.html" v-show="!attitudeFlag" v-text="attitudeMsg.noFlag.msg"></a>
						<a href="#" v-show="attitudeFlag" v-text="attitudeMsg.isFlag.msg"></a>
					<ul v-show="loginInShow">
						<li><a href="signUp.html">注册用户</a></li>
						<li v-show="attitudeFlag"><a href="" @click="loginOut">退出登录</a></li>
					</ul>
					</strong>
				</div>
			</div>
			<div class="head_bottom" v-show="curMainMenu==0">
				<div class="head_subMenu">
					<ul>
						<li v-for="(title,index) in subMenu">
							<a href="#" v-text="title" :class="{active:index==curSubMenu}" @click="curSubMenu=index"></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</template>
	<!-- footer组件模板 -->
	<template id="htm_footer">
		<div class="htm_footer">
			<div class="footer_content">
				<h2>
					<a v-for="aText in footA" href="#" v-text="aText"></a>
				</h2>
				<h3 v-text="footContent"></h3>
			</div>
		</div>
	</template>
	<!-- backTop回到顶部模板 -->
	<template id="back_TopBtn">
		<a v-show="isShow" class="back_TopBtn" href="#" hidefocus="true" title="回到顶部"></a>
	</template>
<script type="text/javascript">
	var vm=new Vue({
		el:'#app',
	});
</script>
</html>