/*grid样式*/
	.table>table{
		width: 730px;
		min-width:600px;
		border-collapse:collapse;
	}
	.table>table th,tr,td{
		text-align:left;
		padding:10px 15px;
	}
	.table>table tr:nth-child(even){
		background-color: #f5f5f7;
	}
	.table>table tr:nth-child(odd){
		background-color: #fafafa;
	}
	.table>table tr:hover{
		background-color: #e3e3e5;
	}
	.table>table>tbody>tr>td>a>img{
		width:20px;height:24px;
	}